<div class="login">
    <form action="/reset" method="post">
        <input type="text" name="email" placeholder="Username" class="text">
        <br/>
        <input type="hidden" name="_csrf" value="{{{csrfToken}}}">
        <input type="submit" value="RESET PASSWORD" class="button">
    </form>
</div>