.text
{
    width: 25%;
    height: 4%;
    padding: 1%;
    font-size: 120%;
    outline: none;
    border-width: 1px;
    border-radius: 4px;
    margin-bottom: 1%;
}
.button
{
    width: 10%;
    height: 4%;
    font-size: 120%;
    border-width: 1px;
    border-color: #00f;
    background-color: #fff;
    color: #00f;
    border-radius: 2px;
}
.button:hover
{
    background-color: #00f;
    border-radius: 5px;
    color: #fff;
}
label
{
    font-size: 120%;
}